<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
  </head>
  <body>
    <style>
      * {
        margin: 0px;
      }
    </style>
    <nav>
      <ul style="display: flex; gap: 50px; list-style: none">
        <li><a href="/">Shop</a></li>
        <li><a href="/products">Products</a></li>
        <% if(isLogIn) { %>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/checkout">Checkout</a></li>
        <li><a href="/orders">Orders</a></li>
        <li><a href="/admin/addProduct">Add Product</a></li>
        <li><a href="/admin/products">Admin Product</a></li>
        <li>
          <form action="/postLogout" method="POST">
            <button type="submit">Logout</button>
          </form>
        </li>
        <% } else { %>
        <li><a href="/login">Login</a></li>
        <% } %>
      </ul>
    </nav>

    <h1>Products</h1>
    <% if(prods.length > 0 ) { %> <% for(let product of prods) { %>
    <div style="display: flex">
      <div
        style="
          background-color: rgb(244, 244, 244);
          width: 400px;
          text-align: center;
          margin: 10px 5px;
          border-radius: 5px;
        "
      >
        <p>
          <img src="<%= product.imageUrl %>" alt="" height="400px" />
        </p>
        <p><%= product.title %></p>
        <p><%= product.price %></p>
        <p><%= product.description %></p>
        <% if(isLogIn) { %>
        <form action="/cart" method="POST">
          <button type="submit">Add to Cart</button>
          <input type="hidden" name="productId" value="<%= product.id %>" />
        </form>
        <% } %>
      </div>
      <% } %> <% } else { %>
      <p>No Products</p>
      <% } %>
    </div>
  </body>
</html>
